# IDE
.idea/
.vscode/
*.iml
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db
ehthumbs.db

# Python
venv/
.venv/
env/
ENV/
__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
.pytest_cache/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.ipynb_checkpoints
.env
.env.*
pip-log.txt
.mypy_cache/